body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    width: 60vw;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

li {
    margin-bottom: 2rem;
}

.checkedLabel {
    text-decoration: line-through;
    color: gray;
}

.delete {
    font-size: .8rem;
    text-align: center;
    margin-top: .3rem;
    cursor: pointer;
}

#checked {
    margin-top: .5rem;
    margin-left: -2rem;
}

#inputGroup-sizing-sm {
    font-size: 1rem;
}